{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">
    {{ range sort .Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $small := .Resize "300x" }}
                {{ $medium := .Resize "600x" }}
                {{ $large := .Resize "900x" }}
                <img src="{{ $medium.RelPermalink }}"
                     srcset="{{ $small.RelPermalink }} 300w, {{ $medium.RelPermalink }} 600w, {{ $large.RelPermalink }} 900w"
                     sizes="(max-width: 400px) 300px, (max-width: 800px) 600px, 900px"
                     alt="{{ .Title }}" class="img-responsive">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}
