{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{/* Prev/Next navigation */}}
{{ $parent := .Parent }}
{{ $pages := $parent.Pages.ByWeight }}
{{ $currentIndex := -1 }}
{{ range $i, $p := $pages }}
    {{ if eq $p.File.ContentBaseName $.File.ContentBaseName }}
        {{ $currentIndex = $i }}
    {{ end }}
{{ end }}

<div class="photo-container">
{{ if and (isset .Params "image") .Params.image }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
        {{ $medium := .Resize "800x" }}
        {{ $large := .Resize "1200x" }}
        {{ $full := .Resize "1800x" }}
        <a href="{{ .RelPermalink }}" target="_blank" class="gallery-image-link">
        <img src="{{ $large.RelPermalink }}"
             srcset="{{ $medium.RelPermalink }} 800w, {{ $large.RelPermalink }} 1200w, {{ $full.RelPermalink }} 1800w"
             sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, 1800px"
             alt="{{ .Title }}" class="img-responsive gallery-image">
        </a>
    {{end}}
{{ end }}

<div class="photo-nav">
    {{ if gt $currentIndex 0 }}
        {{ $prev := index $pages (sub $currentIndex 1) }}
        <a href="{{ $prev.Permalink }}" class="photo-nav-btn photo-nav-prev">&larr; Prev</a>
    {{ else }}
        <span class="photo-nav-btn photo-nav-prev photo-nav-disabled">&larr; Prev</span>
    {{ end }}

    <a href="{{ $parent.Permalink }}" class="photo-nav-btn photo-nav-center">Go to Album</a>

    {{ if lt (add $currentIndex 1) (len $pages) }}
        {{ $next := index $pages (add $currentIndex 1) }}
        <a href="{{ $next.Permalink }}" class="photo-nav-btn photo-nav-next">Next &rarr;</a>
    {{ else }}
        <span class="photo-nav-btn photo-nav-next photo-nav-disabled">Next &rarr;</span>
    {{ end }}
</div>
</div>

{{ .Content }}

{{/* Link to related blog post */}}
{{ $albumName := $parent.File.ContentBaseName }}
{{ range site.RegularPages }}
    {{ if eq (.Params.album | default "") $albumName }}
        <div class="photo-blog-link">
            <a href="{{ .Permalink }}">Read the blog post: {{ .Title }}</a>
        </div>
    {{ end }}
{{ end }}

{{ template "_internal/disqus.html" . }}

<script>
document.addEventListener('keydown', function(e) {
    if (e.key === 'ArrowLeft') {
        var prev = document.querySelector('.photo-nav-prev[href]');
        if (prev) prev.click();
    } else if (e.key === 'ArrowRight') {
        var next = document.querySelector('.photo-nav-next[href]');
        if (next) next.click();
    }
});
</script>

{{ end }}
