{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<div class="posts-list">
{{ range sort .Pages "Date" "desc" }}
    {{ if not .Params.private }}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ $plain := .Plain | htmlUnescape }}{{ $words := split $plain " " }}{{ $limited := first 30 $words }}{{ delimit $limited " " }}{{ if gt (len $words) 30 }}...{{ end }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}
