{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Date | time.Format ":date_medium" }}
{{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
{{ end }}
<br/><br/>

{{ if .Params.album }}
    {{ $albumPath := printf "albums/%s" .Params.album }}
    {{ $album := .Site.GetPage $albumPath }}
    {{ if $album }}
        <div class="album-preview">
            <div class="album-preview-header">
                <span class="album-preview-title">{{ $album.Title }}</span>
                <a href="{{ $album.Permalink }}" class="album-preview-link">View full album &rarr;</a>
            </div>
            <div class="album-preview-grid">
                {{- $pages := $album.Pages.ByWeight -}}
                {{- range $pages -}}
                    {{- if and (isset .Params "image") .Params.image -}}
                        {{ $image := .Page.Resources.GetMatch .Params.image }}
                        {{- with $image -}}
                            {{ $thumb := .Fill "250x250" }}
                            <a href="{{ $album.Permalink }}" class="album-preview-thumb">
                                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}">
                            </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </div>
        </div>
    {{ end }}
{{ end }}

<div class="post-content">
{{ .Content }}
</div>
{{ template "_internal/disqus.html" . }}
{{ end }}
