{{ define "main" }}

<h1>Latest photos</h1>


{{- $featured := slice -}}
{{- $albums := .Site.GetPage "/albums" -}}
{{- range $albums.Sections -}}
    {{- range .Pages -}}
        {{- if and (isset .Params "image") .Params.image .Params.featured -}}
            {{- $featured = $featured | append . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- $sorted := sort $featured ".Params.exifDate" "desc" -}}

{{- /* Build enriched slice with image resource attached */ -}}
{{- $photos := slice -}}
{{- range $sorted -}}
    {{- $page := . -}}
    {{- $image := .Page.Resources.GetMatch .Params.image -}}
    {{- with $image -}}
        {{- $photos = $photos | append (dict "page" $page "image" .) -}}
    {{- end -}}
{{- end -}}

{{- /* Greedy height-aware column assignment.
       Portrait images (height > width) are weighted 3 units,
       landscape 2 units, so columns stay visually balanced. */ -}}
{{- $col1 := slice -}}
{{- $col2 := slice -}}
{{- $h1 := 0 -}}
{{- $h2 := 0 -}}
{{- range $photos -}}
    {{- $weight := 1 -}}
    {{- if gt .image.Height .image.Width -}}{{- $weight = 2 -}}{{- end -}}
    {{- if le $h1 $h2 -}}
        {{- $col1 = $col1 | append . -}}
        {{- $h1 = add $h1 $weight -}}
    {{- else -}}
        {{- $col2 = $col2 | append . -}}
        {{- $h2 = add $h2 $weight -}}
    {{- end -}}
{{- end -}}

<div class="image-grid">
<div class="image-grid-col">
{{- range $col1 -}}
    {{- $page := .page -}}
    {{- $image := .image -}}
    {{- $small := $image.Resize "300x" -}}
    {{- $medium := $image.Resize "600x" -}}
    {{- $large := $image.Resize "900x" }}
    <a href="{{ $page.Permalink }}" title="{{ $page.Title }}">
        <img src="{{ $medium.RelPermalink }}"
             srcset="{{ $small.RelPermalink }} 300w, {{ $medium.RelPermalink }} 600w, {{ $large.RelPermalink }} 900w"
             sizes="(max-width: 400px) 300px, (max-width: 800px) 600px, 900px"
             alt="{{ $page.Title }}" class="img-responsive">
    </a>
{{- end -}}
</div>
<div class="image-grid-col">
{{- range $col2 -}}
    {{- $page := .page -}}
    {{- $image := .image -}}
    {{- $small := $image.Resize "300x" -}}
    {{- $medium := $image.Resize "600x" -}}
    {{- $large := $image.Resize "900x" }}
    <a href="{{ $page.Permalink }}" title="{{ $page.Title }}">
        <img src="{{ $medium.RelPermalink }}"
             srcset="{{ $small.RelPermalink }} 300w, {{ $medium.RelPermalink }} 600w, {{ $large.RelPermalink }} 900w"
             sizes="(max-width: 400px) 300px, (max-width: 800px) 600px, 900px"
             alt="{{ $page.Title }}" class="img-responsive">
    </a>
{{- end -}}
</div>
</div>

{{ end }}
