{{ define "main" }}

<h1>Latest posts</h1>

<div class="posts-list">
{{- with .Site.GetPage "/posts" -}}
    {{- range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            {{ .Date | time.Format ":date_medium" }} — <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </div>
    {{- end -}}
{{- end -}}
</div>

<h1>Latest photos</h1>


<div class="image-grid">
{{- $featured := slice -}}
{{- $albums := .Site.GetPage "/albums" -}}
{{- range $albums.Sections -}}
    {{- range .Pages -}}
        {{- if and (isset .Params "image") .Params.image .Params.featured -}}
            {{- $featured = $featured | append . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- range shuffle $featured -}}
    {{- $page := . -}}
    {{- $image := .Page.Resources.GetMatch .Params.image -}}
    {{- with $image -}}
        {{- $small := .Resize "400x" -}}
        {{- $medium := .Resize "800x" -}}
        {{- $large := .Resize "1200x" }}
        <a href="{{ $page.Permalink }}" title="{{ $page.Title }}">
            <img src="{{ $medium.RelPermalink }}"
                 srcset="{{ $small.RelPermalink }} 400w, {{ $medium.RelPermalink }} 800w, {{ $large.RelPermalink }} 1200w"
                 sizes="(max-width: 400px) 400px, (max-width: 800px) 800px, 1200px"
                 alt="{{ $page.Title }}" class="img-responsive">
        </a>
    {{- end -}}
{{- end -}}
</div>

{{ end }}
